body {
    min-height: 100vh;
    padding-top: 70px;
    background: linear-gradient(180deg, #cfd9df, #e2ebf0);
    color: #222;
}

.App {
    text-align: center;
    padding-bottom: 50px;
    font-family: 'Poppins', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar {
    background: rgba(255, 255, 255, 0.15) !important;
    backdrop-filter:blur(10px);
    padding: 10px 20px;
    border-bottom: 3px solid #222;
}

.navbar-brand,
.nav-link {
    color: black !important;
    height: 32px;
    object-fit: contain;
}

    .navbar-brand img {
        transition: transform 0.2s ease;
    }

        .navbar-brand img:hover {
            transform: scale(1.1);
        }

.card {
    background: rgba(255, 255, 255, 0.9);
    color: #222;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.card-img-top {
    height: 300px;
    object-fit: cover;
    filter: brightness(0.85);
    transition: 0.3s;
}

.card:hover .card-img-top {
    filter:brightness(1);
}

.btn-primary {
    background-color: #6c5ce7 !important;
    border: none !important;
}

    .btn-primary:hover {
        background-color: #5a4bd6 !important;
    }

.modal-content {
    border-radius: 20px;
    padding: 10px;
    background: #ffffff;
    color: #222;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid {
    padding-right: 20px;
}

.navbar-nav {
    margin-right: 25px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.footer {
    margin-top: 50px;
    padding: 20px;
    opacity: 0.7;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

